<% layout("layouts/boilerplate") %>
<h1 class="text-primary text-center">Products List</h1>
<% if (category) {%>
<h2 class="text-primary text-center capitalize"><%= category %></h2>
<% } %>
<div class="d-flex justify-content-evenly flex-wrap mt-5">
    <% for (let product of products) {%>
    <div class="card bg-info text-secondary mb-3 productIndexCar" data-path="<%= product.path %>">
        <div class="card-header bg-primary">
            <h5 class="card-title"><%= product.title %></h5>
        </div>
        <div class="card-body">
            <h6 class="text-center">
                <a class="link-light card-subtitle capitalize" href="/products?category=<%= product.category.name %> ">
                    <%=product.category.name%>
                </a>
            </h6>
        </div>
    </div>
    <% } %>
</div>

<div class="d-flex flex-column rounded">
    <% for (let product of products) {%>
    <div
        class="d-flex bg-secondary rounded px-3 py-2 align-items-center justify-content-between mb-2 productIndexCard"
        data-path="<%= product.path %>"
    >
        <h5 class="m-0"><%= product.title %></h5>
        <a class="link-light capitalize" href="/products?category=<%= product.category.name %> "> <%=product.category.name%> </a>
    </div>
    <% } %>
</div>
