<div class="d-flex flex-column justify-content-center">
    <% for (let purchase of product.purchases) {%>
    <div class="d-flex align-items-center offset-lg-3 col-lg-6 bg-secondary py-2 px-3 text-primary rounded mb-2">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex fw-bold me-md-2"><%=purchase.purchaseDate%></div>
            <div class="d-flex"><%= purchase.store.name %> <%- purchase.store.branch? ` - ${purchase.store.branch}` : ""%></div>
        </div>

        <button
            class="btn btn-secondary ms-auto fw-bold fs-3 py-0"
            data-bs-toggle="modal"
            data-bs-target="#detailsModal"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Purchase details"
        >
            &#8942;
        </button>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content bg-secondary text-primary border-info">
                <div class="modal-header border border-0">
                    <h1 class="modal-title fs-5" id="categoryModalLabel">Purchase Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p>
                        Amount: <%= product.measureUnit === "unit" ? purchase.quantity : purchase.quantity.toFixed(3)%> <%= product.measureUnit %><%=
                        purchase.quantity > 1 ? "s" : "" %>
                    </p>
                    <p>Price: &#8362; <%= purchase.price.toFixed(2) %></p>
                    <% if (product.trackUsagePeriod) {%>
                    <p>Days Used: <%= purchase.daysUsed %></p>
                    <p>Monthly Cost: &#8362; <%= ((purchase.price / purchase.daysUsed) * (365/12)).toFixed(2) %></p>
                    <% } %>
                </div>
                <div class="modal-footer border border-0 pt-0">
                    <button id="closeDetailsModal" type="button" class="btn btn-light" data-bs-dismiss="modal" hidden>Close</button>
                    <a href="/products/<%= product.path %> /purchases/<%= purchase._id %>/edit" class="btn btn-light">Edit</a>
                    <form action="/products/<%= product.path %>/purchases/<%=purchase._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-info">Delete</button>
                    </form>
                    <button id="saveInfo" type="submit" class="btn btn-info disabled" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
