<% layout("layouts/boilerplate") %>
<h1 class="text-primary text-center mb-3"><%= product.title %></h1>
<% if (product.purchases.length > 0) {%>
<div class="d-flex flex-row justify-content-evenly flex-wrap">
    <div class="card bg-light mb-3 mx-1">
        <div class="card-header">Total spent</div>
        <div class="card-text text-center">&#8362; <%= product.totalSpent %></div>
    </div>
    <div class="card bg-light mb-3 mx-1">
        <div class="card-header">Total Bought</div>
        <div class="card-text text-center"><%= product.totalBought %> <%= product.measureUnit %></div>
    </div>
    <div class="card bg-light mb-3 mx-1">
        <div class="card-header">Averge Price</div>
        <div class="card-text text-center">&#8362; <%= product.averagePrice %> / <%= product.measureUnit %></div>
    </div>
    <% if (product.trackUsagePeriod) {%>
    <div class="card bg-light mb-3 mx-1">
        <div class="card-header">Total consumption days</div>
        <div class="card-text text-center"><%= product.totalConsumptionDays %> days</div>
    </div>
    <div class="card bg-light mb-3 mx-1">
        <div class="card-header">Average monthly cost (consumption)</div>
        <div class="card-text text-center">&#8362; <%= ((product.totalSpent / product.totalConsumptionDays)*(365/12)).toFixed(2) %></div>
    </div>
    <div class="card bg-light mb-3 mx-1">
        <div class="card-header">Average monthly cost (calendar)</div>
        <div class="card-text text-center">&#8362; <%= product.averageMonthlyCost %></div>
    </div>
    <% } %>
</div>
<div class="d-flex justify-content-evenly flex-wrap mt-4">
    <% for (let purchase of product.purchases) {%>
    <div class="card bg-info text-secondary mb-4">
        <div class="card-header bg-primary">
            <h5 class="card-title"><%= purchase.store.name %><small><%- purchase.store.branch? ` - ${purchase.store.branch}` : ""%> </small></h5>
            <h6 class="card-subtitle text-light">Purchase Date: <%=purchase.purchaseDate%></h6>
        </div>
        <div class="card-body">
            <p class="card-text">Price: &#8362; <%= purchase.price.toFixed(2) %></p>
            <p class="card-text">Amount: <%= purchase.quantity.toFixed(3)%> kg</p>
            <% if (product.trackUsagePeriod) {%>
            <p class="card-text">Days Used: <%= purchase.daysUsed %></p>
            <p class="card-text">Monthly Cost: &#8362; <%= ((purchase.price / purchase.daysUsed) * (365/12)).toFixed(2) %></p>
            <% } %>
        </div>
    </div>
    <% } %>
</div>
<% } %>
